<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CreateFullTovarForWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CreateFullTovarForWeb.Properties.Settings>
      <setting name="CreateFullTovarForWeb_Exchange1C_Exchange1C77"
        serializeAs="String">
        <value>http://localhost:62308/Exchange1C.asmx</value>
      </setting>
    </CreateFullTovarForWeb.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="URL" value="http://192.168.229.204/To1C/Exchange1C.asmx" />
    <add key="Timeout" value="600000" />
    <add key="DataFolder" value="Data" />
    <add key="SaveFilesDays" value="30" />
    <add key="Compare" value="1" />
    <add key="CompareFolder" value="Compare" />
    <add key="useFTP" value="0" />
    <add key="FTP" value="ftp://87.236.20.3/upload/" />
    <add key="ftpUser" value="stinmarket_1c" />
    <add key="ftpPassword" value="EWxEe5zB" />
    <add key="Binary" value="1" />
    <add key="Passive" value="1" />
    <add key="useSFTP" value="1" />
    <add key="sFTP" value="89.223.123.3"/>
    <add key="sftpPath" value="/home/bitrix/www/local/import/files"/>
    <add key="sftpPort" value="22" />
    <add key="sftpUser" value="user1c" />
    <add key="sftpPassword" value="JG%zjcGd" />
    <add key="OrderFolder" value="" />
  </appSettings>
</configuration>