<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateProdagiTovara.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="URL" value="http://localhost:62308/Exchange1C.asmx" />
    <add key="Timeout" value="600000" />
    <add key="DataFolder" value="Data" />
    <add key="SaveFilesDays" value="30" />
    <add key="Compare" value="1" />
    <add key="CompareFolder" value="Compare" />
    <add key="FTP" value="ftp://87.236.20.3/upload/" />
    <add key="ftpUser" value="stinmarket_1c" />
    <add key="ftpPassword" value="EWxEe5zB" />
    <add key="Binary" value="1" />
    <add key="Passive" value="1" />
  </appSettings>
  <applicationSettings>
    <CreateProdagiTovara.Properties.Settings>
      <setting name="CreateProdagiTovara_Exchange1C_Exchange1C77" serializeAs="String">
        <value>http://localhost:62308/Exchange1C.asmx</value>
      </setting>
    </CreateProdagiTovara.Properties.Settings>
  </applicationSettings>
</configuration>