<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DbModel" connectionString="data source=SERVER2012;initial catalog=Valentin;user id=User1C;password=66826877Server2012;MultipleActiveResultSets=False;Pooling=False;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SysModel" connectionString="data source=SERVER2012;initial catalog=master;user id=sa;password=66826877Экран;MultipleActiveResultSets=False;Pooling=False;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>